* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 455px;
    padding: 10px;
    margin: 10px;
    background-color: #fafab6;
}

.container {
    width: 800px;
    margin: 0 auto;
    
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sticky {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175px;
    width: 175px;
    padding: 20px;
    margin: 20px;
    box-shadow: 3px 3px 3px #00000045;
    text-align: center;
}

.pink {
    background-color: #ffb6d4;
}

.yellow {
    background-color: #fafab6;
}

.green {
    background-color: #9ef49e;
}

.orange {
    background-color: #ffa500;
}

.shadow {
    box-shadow: 7px 7px 7px #0404046f;
    position: relative;
    bottom: 5px;
}